/*
=======================
Base Color
=======================
*/

$white: #ffffff;
$black: #1a1a1a;
$light-gray: #f3f3f3;
$mid-gray: #e2e2e2;
$gray: #686868;
$dark-gray: #252526;
$green: #0bb3a9;
$dark-green: #0b847d;
$blue: #81ACDB;
$dark-blue: #4b8bd1;


/*
=======================
Base Font
=======================
*/

@font-face {
  font-family: 'Akkurat';
  src: url('../assets/lineto-akkurat-regular-s.eot');
  src: url('../assets/lineto-akkurat-regular-s.eot?#iefix') format('embedded-opentype'),
       url('../assets/lineto-akkurat-regular-s.woff') format('woff'),
       url('../assets/lineto-akkurat-regular-s.ttf')  format('truetype'),
       url('../assets/lineto-akkurat-regular-s.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Akkurat-light';
  src: url('../assets/lineto-akkurat-light-s.eot');
  src: url('../assets/lineto-akkurat-light-s.eot?#iefix') format('embedded-opentype'),
       url('../assets/lineto-akkurat-light-s.woff') format('woff'),
       url('../assets/lineto-akkurat-light-s.ttf')  format('truetype'),
       url('../assets/lineto-akkurat-light-s.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Akkurat-bold';
  src: url('../assets/lineto-akkurat-bold-s.eot');
  src: url('../assets/lineto-akkurat-bold-s.eot?#iefix') format('embedded-opentype'),
       url('../assets/lineto-akkurat-bold-s.woff') format('woff'),
       url('../assets/lineto-akkurat-bold-s.ttf')  format('truetype'),
       url('../assets/lineto-akkurat-bold-s.svg#svgFontName') format('svg');
}

$font-regular: "Akkurat";
$font-light: "Akkurat-light";
$font-bold: "Akkurat-bold";

$default-font-family: "Avenir", "sans-serif";
