/*
=======================
Base Color
=======================
*/

$white: #ffffff;
$black: #1a1a1a;
$light-gray: #f3f3f3;
$mid-gray: #e2e2e2;
$gray: #686868;
$dark-gray: #252526;
$green: #009991;
$blue: #81ACDB;


/*
=======================
Base Font
=======================
*/

// Main Font Style
$primary-font-family: "Avenir", "sans-serif";
