.footer-section {
  display: flex;
  height: 50px;
  background-color: $dark-gray;
}

.logo-container {
  width: 20%;
  background-color: #000;
}

.sns-container {
  width: 80%;
  background-color: $gray;
}
