.footer-section {
  @include flexbox;
  background-color: $dark-gray;
  height: 70px;
  ul {
    margin-left: 55%;
    margin-top: 25px;
  }
  li {
    display: inline;
    margin: 20px;
    .fa-twitter {
      color: $twitter-blue;
      &:hover {
        color: $twitter-hover;
      }
    }
    .fa-facebook {
      color: $facebook-blue;
      &:hover {
        color: $facebook-hover;
      }
    }
    .fa-linkedin {
      color: $linkedin-blue;
      &:hover {
        color: $linkedin-hover;
      }
    }
  }
}

.logo-container {
  background-color: #000;
  padding: 0 60px;
  img {
    margin-top: 20px;
    width: 150px;
  }
}

/*
=======================
Media Query
=======================
*/

// Media Query for tablet or smaller
@media screen and (max-width: 1100px) {
  .footer-section {
    ul {
      margin-left: 0;
    }
  }
}

// Media Query for tablet portrait view or smaller
@media screen and (max-width: 800px) {
  .logo-container {
    background-color: #000;
    padding: 0 30px;
    img {
      margin-top: 20px;
      width: 100px;
    }
  }

  .footer-section {
    li {
      margin: 10px;
    }
  }
}
