.footer-section {
  display: flex;
  height: 70px;
  background-color: $dark-gray;
}

.logo-container {
  width: 25%;
  background-color: #000;
}

.sns-container {
  width: 75%;
  background-color: $gray;
  text-align: right;
}
